
<div class="banner_wrapper">
  <div class="container banner">
    <div class="row">
      <div class="span4 offset7">
        <div id="glyph_g">
          <%= image_tag('/assets/glyph-g.png', :alt => "Glyph") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span5 offset6" style="margin-left:612px;">
        <div id="explanation">
          <h1><span>Zero effort, more rewards<span></h1>
          <h1>Choose the right card</h1>
          <h1><span>Every time</span> you buy</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="span6">
        <div id="iphone_landing">
          <%= image_tag('/assets/iphone-screen-landing.png') %>
        </div>
      </div>
    <div class="span4 offset1" style="margin-left:135px;">
      <div class="row">
        <div id="signup_box">
          <p>Sign up to keep a pulse on Glyph.</p>

          <%= form_tag(pages_subscribe_url, :method => "post") do %>
              <%= text_field_tag(:email, nil, :placeholder => "Enter your email address...") %>
        </div>
      </div>
      <div class="row">
            <%= submit_tag("Stay Tuned", :class => "btn-large", :id => "stay_tuned") %>
        <% end %>
      </div>
      <div class="row">
        <div class="span4" style="margin-left:0px;">
          <% if flash[:notice] %>
            <p class="alert alert-success"><%= flash[:notice] %></p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div id="social_buttons">
          <div class="span1" style="margin-left:0px;">
            <div class="twitter-post"><a href="https://twitter.com/share" class="twitter-share-button" data-text="I just signed up for @PayWithGlyph. To maximize your credit card rewards for free, visit paywithglyph.com" data-hashtags="glyphit">Tweet</a></div>
          </div>
          <div class="span2">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </div>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
</div>
