<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product">
<head>
  <title>Glyph</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name = "viewport" content = "width = 1050">
</head>
<body>
  <div id="fb-root"></div>


  <div class="banner_wrapper">
    <div id="header_background"></div>
    <div id="header_background2"></div>
  </div>
  <div class="container">
    <%= image_tag('/assets/glyph-logo.png', :id => "glyph_logo", :alt => "Glyph") %>
    <div id="refresh_tag"><p>Refresh your wallet</p></div>
  </div>

    <%= yield %>

    <div id="footer"><div class="container footer_content"></div></div>

          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=246064935460580";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
</body>
</html>
