<!DOCTYPE html>
<html>
<head>
  <title>Glyph</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="banner_wrapper">
    <div id="header_background"></div>
    <div id="header_background2"></div>
  </div>
  <div class="container">
      <%= image_tag('/assets/glyph-logo.png', :id => "glyph_logo", :alt => "Glyph") %>
      <div id="refresh_tag"><p>Refresh your wallet</p></div>
    </div>
    <%= yield %>
  <div id="footer"></div>

</body>
</html>
